* {
  font-family: "Comic Neue", cursive;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #e5e5f7;
  background-color: #e5e5f7;
  background-image: linear-gradient(#444cf7 0.0625rem, transparent 0.0625rem),
    linear-gradient(to right, #444cf7 0.0625rem, #e5e5f7 0.0625rem);
  background-size: 1.25rem 1.25rem;
}

.contenedor {
  width: 30rem;
  height: 30rem;
  border-radius: 0px;
  background: linear-gradient(145deg, #ffffff, #e6e6dd);
  box-shadow: 5px 5px 9px #a8a8a2, -5px -5px 9px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator_section {
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#expression {
  font-size: 2rem;
  background: linear-gradient(145deg, #ffffff, #ffffff);
  box-shadow: 5px 5px 9px #a8a8a2, -5px -5px 9px #ffffff;
  border-radius: 0.625rem;
  border: none;
  padding: 0.625rem;
  margin: 0.625rem;
}

#Calcular {
  font-size: 2rem;
  background: linear-gradient(145deg, #ffffff, #e6e6dd);
  box-shadow: 5px 5px 9px #a8a8a2, -5px -5px 9px #ffffff;
  border-radius: 0.625rem;
  border: none;
  margin: 0.625rem;
}

#result {
  font-size: 4rem;
  font-weight: 600;
  color: black;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .contenedor {
    height: 22.5rem;
    width: 22.5rem;
  }

  #expression {
    font-size: 1.75rem;
  }

  #result {
    font-size: 3rem;
  }
}

@media (max-width: 468px) {
  .contenedor {
    height: 15.625rem;
    width: 15.625rem;
  }

  #expression {
    font-size: 1rem;
  }

  #result {
    font-size: 2rem;
  }
}
